html, body { margin: 0; font-family: verdana, sans-serif;}
#header {
background-color: #333;
}
#header h1 {
margin: 0;
}
#header a {
text-decoration: none;
color: #FFF;
}
#header ul {
border-bottom: 1px dashed #CCC;
background-color: #666;
padding: 10px;
}
#header ul li {
display: inline;
margin-left: 30px;
}
#content {
width: 98%;
margin: 0 auto;
}
.messagelist {
border: 1px solid #E2C822;
background-color: #FFF9D7;
}
.messagelist li {
list-style: none;
}
#answers li {
border-bottom: 1px solid #CCC;
}
