{% extends "base.html" %}{% load emptyheap_tags %}
{% block title %}{{object}}{% endblock %}
{% block content %}
<h2>{{object}}</h2>
<blockquote class="question-body">
    {{object.body_html|safe}}
</blockquote>
    <p>
    <form action="{% url question_upvote object.id %}" method="POST">
    <input type="submit" name="direction" value="Up"/> 
    </form>
    {{object.votes_result}} 
    <form action="{% url question_downvote object.id %}" method="POST">
    <input type="submit" name="direction" value="Down"/> 
    </form>
    {% if object|has_upvote:user %}You've voted up{% else %}{% if object|has_downvote:user %}You've voted down{% endif %}{% endif %}</p>
</form>
<h3>Answers</h3>
<p>Order answers by <a href="{{object.get_absolute_url}}" title="Show answers by number of votes">Votes</a>, <a href="{{object.get_absolute_url}}?order_by=date" title="In posting date">Date</a></p>
<ul id="answers">
{% for answer in object_list %}
<li>
<blockquote>{{answer.body_html|safe}}</blockquote>
<p>By {{answer.user}}, {{answer.added_on|timesince}} ago</p>
{% if user.is_authenticated %}
<form method="POST" action="{% url eh_answer_vote object.id, answer.id %}">
    <p><input type="submit" name="direction" value="Up"/> {{answer.votes_result}} <input type="submit" name="direction" value="Down"/> {% if answer|has_upvote:user %}You've voted up{% else %}{% if answer|has_downvote:user %}You've voted down{% endif %}{% endif %}</p>
</form>
{% else %}
<p><a href="{% url auth_login %}" title="Log in">Log in to vote</a></p>
{% endif %}
</li>
{% empty %}
<li>No answers</li>
{% endfor %}
</ul>
<h3>Answer this question</h3>
<form action="" method="post">
    <table>
        {{form}}
        <tr><td/><td><input type="submit" {% if user.is_authenticated %}value="Answer"{% else %} value="Log in to reply" disabled="disabled"{% endif %}/></td></tr>
    </table>
</form>
{% endblock %}
